body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
    background-color: #ffe6f0;
}

h1 {
    font-size: 2.5rem;
    color: #ff4d6d;
}

.buttons {
    margin-top: 30px;
}

button {
    font-size: 1.2rem;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    border-radius: 10px;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#yesBtn:hover {
    transform: scale(1.1);
}

#noBtn {
    background-color: #999;
    color: white;
}